@model List<TaskManager.Web.Models.SubmissionDto>

<h2>All Submissions</h2>

<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Submission ID</th>
            @* <th>User</th> *@
            <th>Form Title</th>
            <th>Answers</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sub in Model)
        {
            <tr>
                <td>@sub.Id</td>
                @* <td>@sub.username</td> *@
                <td>@sub.FormTitle</td>
                <td>@sub.Answers</td>
                <td>@sub.Status</td>
                <td>
                    @if (sub.Status == "Pending")
                    {
                        <form asp-action="Approve" method="post" class="d-inline">
                            <input type="hidden" name="id" value="@sub.Id" />
                            <button type="submit" class="btn btn-success btn-sm">Approve</button>
                        </form>

                        <form asp-action="Reject" method="post" class="d-inline">
                            <input type="hidden" name="id" value="@sub.Id" />
                            <button type="submit" class="btn btn-danger btn-sm">Reject</button>
                        </form>
                    }
                    else
                    {
                        <span class="text-muted">No Action</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
